<header>
    <h1>MCHaven</h1>
    <p>A hub for Minecraft Bedrock & Java content.</p>
    <div class="header-right" id="header-right-container"></div>
</header>
<nav>
    <a href="/">Home</a>
    <a href="/texture-packs">Texture Packs</a>
    <a href="/addons">Addons</a>
    <a href="/skin-packs">Skin Packs</a>
    <a href="/worlds">Worlds</a>
    <a href="/useful">Useful</a>
    <a href="/featured" style="color:gold;">Featured</a> <a href="/information">Information</a>
    <% if (userRole === 'admin' || userRole === 'mod') { %><a href="/admin">Admin</a><% } %>
    <a href="/settings">Settings</a>
</nav>
